In [6]:
import numpy as np
import pandas as pd

In [8]:
movies=pd.read_csv("imdb movies.csv")

In [9]:
movies

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [13]:
movies.sort_values('imdb_title_id')

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [18]:
min = movies.sort_values(['duration'])

In [19]:
min

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
32798,tt0142235,Dragon Ball Z: La vendetta divina,Doragon bôru Z,1989,1989-07-15,"Animation, Action, Adventure",41,Japan,Japanese,Daisuke Nishio,...,"Masako Nozawa, Toshio Furukawa, Hiromi Tsuru, ...",In order to wish for immortality and avenge hi...,7.0,6042,NaN,NaN,$ 9060335,NaN,17.0,4.0
57390,tt1365598,Enigma,Enigma,2009,2010-12-10,Sci-Fi,42,USA,English,"Jason Shumway, Matt Shumway",...,"Nadia Salamanca, Ventura Alvarez, Iris Corliss...","Floating dead in space, transport ship Genesis...",4.9,232,$ 50000,NaN,NaN,NaN,6.0,NaN
3966,tt0033949,Niagara Falls,Niagara Falls,1941,1941-10-17,"Comedy, Romance",43,USA,English,Gordon Douglas,...,"Marjorie Woodworth, Tom Brown, Zasu Pitts, Sli...","Margie Blake, who wants to get married young a...",6.0,185,NaN,NaN,NaN,NaN,10.0,2.0
54562,tt11443714,My Little Pony: Equestria Girls - Holidays Unw...,My Little Pony: Equestria Girls - Holidays Unw...,2019,2019-11-02,"Animation, Comedy, Family",44,"USA, Canada",English,"Katrina Hadley, Ishi Rudell",...,"Ashleigh Ball, Andrea Libman, Rebecca Shoichet...",Six short stories at Canterlot High interwove ...,5.6,102,NaN,NaN,NaN,NaN,2.0,NaN
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53877,tt1094643,Kagadanan sa banwaan ning mga engkanto,Kagadanan sa banwaan ning mga engkanto,2007,2015-12-30,Drama,540,"Philippines, Netherlands","Filipino, Bicolano, English, Tagalog",Lav Diaz,...,"Roeder Camanag, Angeli Bayani, Perry Dizon, Da...",A Filipino poet named Benjamin Agusan (Roeder ...,7.4,165,NaN,NaN,NaN,NaN,2.0,8.0
54835,tt11617492,Orbius,Orbius,2020,2020-01-16,Fantasy,570,Russia,None,Sergey A.,...,"Sergey A., Random People",Someone is walking in this world. Someone is l...,9.3,225,RUR 100,NaN,NaN,NaN,NaN,NaN
39346,tt0270784,Khleb - imya sushchestvitelnoe,Khleb - imya sushchestvitelnoe,1988,1988-10-06,"Drama, History, Romance",580,Soviet Union,Russian,Grigori Nikulin,...,"Nikolai Voloshin, Andrey Dudarenko, Sergey Nik...",Epic film about life of three generations in c...,5.8,157,$ 60000000,NaN,NaN,NaN,NaN,NaN
38038,tt0246135,"Out 1, noli me tangere","Out 1, noli me tangere",1971,2015-11-18,"Drama, Mystery",729,France,"French, English","Jacques Rivette, Suzanne Schiffman",...,"Michèle Moretti, Hermine Karagheuz, Karen Puig...","Following the May 1968 civil unrest in France,...",7.8,1126,NaN,$ 31539,$ 37743,87.0,13.0,30.0
85057,tt9047474,La flor,La flor,2016,2018-09-21,"Drama, Fantasy, Musical",808,Argentina,"Catalan, Spanish, French, English, Russian, Ge...",Mariano Llinás,...,"Elisa Carricajo, Valeria Correa, Pilar Gamboa,...","A film in six episodes, connected by the same ...",7.7,473,NaN,$ 4032,$ 4032,77.0,5.0,23.0

In [20]:
print("Name of the movie with third lowest buget: ",min.iloc[2,5])

Name of the movie with third lowest buget:  Comedy, Romance

In [24]:
print("Name of the movie with third highest buget: ",min.iloc[3,6])

Name of the movie with third highest buget:  44

In [30]:
print("Name of the movie with third highest buget: ",min.iloc[54877,5])

Name of the movie with third highest buget:  Thriller

In [36]:
print("Name of the movie with third highest buget: ",movies.iloc[1,6])

Name of the movie with third highest buget:  70

In [39]:
print("Name of the movie with third highest buget: ",movies.iloc[3,6])

Name of the movie with third highest buget:  100

In [41]:
movies["original_title"].max()

'ärtico'

In [42]:
max= movies.sort_values(['original_title'])

In [43]:
max

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
17024,tt0073045,"""Giliap""","""Giliap""",1975,1975-11-16,"Crime, Drama",137,Sweden,Swedish,Roy Andersson,...,"Thommy Berggren, Mona Seilitz, Willie Andréaso...",A man arrives in a Swedish port city to work a...,6.5,739,SEK 4000000,NaN,NaN,NaN,5.0,6.0
3720,tt0033122,"""Swing it"" magistern","""Swing it"" magistern",1940,1940-12-21,"Comedy, Music",92,Sweden,Swedish,Schamyl Bauman,...,"Adolf Jahr, Alice Babs, Solveig Hedengran, Car...","At school, a music teacher is testing the pupi...",6.1,238,NaN,NaN,NaN,NaN,3.0,NaN
58171,tt1442481,"#73, Shaanthi Nivaasa","#73, Shaanthi Nivaasa",2007,2007-06-15,"Drama, Family, Musical",157,India,"Kannada, Tulu",Sudeep,...,"Sudeep, Anu Prabhakar, Deepa Bhaskar, Master H...","Raghu, who enters a dysfunctional family with ...",7.1,178,NaN,NaN,NaN,NaN,NaN,2.0
81351,tt6856592,#Captured,#Captured,2017,2017-09-05,Thriller,81,USA,English,Joe Homokay,...,"Lizze Gordon, Gabrielle Romanello, Megan Medel...",A group of privileged high school kids run an ...,5.0,741,NaN,NaN,NaN,NaN,14.0,3.0
82205,tt7272948,#Followme,#Followme,2019,2019-06-04,"Horror, Thriller",90,"UK, USA",English,Sam Hardy,...,"Kara Kingsward-Hughes, Scarlett Davies, Maria ...","Three British women from London, consisting of...",3.5,415,GBP 300000,NaN,NaN,NaN,60.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50468,tt0827748,Üç sevgili,Üç sevgili,1972,1972,"Comedy, Romance",77,Turkey,Turkish,Mehmet Dinler,...,"Meral Zeren, Tarik Akan, Halit Akçatepe, Fatma...",NaN,5.7,158,NaN,NaN,NaN,NaN,NaN,NaN
36445,tt0208606,Üçüncü Sayfa,Üçüncü Sayfa,1999,1999-10-29,Drama,92,"Turkey, Italy, France",Turkish,Zeki Demirkubuz,...,"Basak Köklükaya, Ruhi Sari, Erol Babaoglu, Zek...",Isa is beaten up after being accused of steali...,7.4,3101,NaN,NaN,NaN,NaN,5.0,2.0
54109,tt11110904,Þorsti,Þorsti,2019,2019-10-25,"Comedy, Horror",90,Iceland,Icelandic,"Steinþór Hróar Steinþórsson, Gaukur Úlfarsson",...,"Hjörtur Sævar Steinason, Hulda Lind Kristinsdó...",The drug addict Hulda is arrested accused of m...,6.8,186,ISK 10000000,NaN,$ 36389,NaN,10.0,NaN
72762,tt3823018,Passeri,Þrestir,2015,2017-03-02,Drama,99,"Iceland, Denmark, Croatia","English, Icelandic",Rúnar Rúnarsson,...,"Rade Serbedzija, Ingvar Sigurdsson, Nanna Kris...",Ari's teenage lifestyle in the big city is dis...,6.8,1427,NaN,NaN,$ 126165,NaN,4.0,47.0
71532,tt3509772,ärtico,ärtico,2014,2015-11-11,Drama,78,Spain,Spanish,Gabriel Velázquez,...,"Deborah Borges, Víctor García, Lucía Martínez,...","""Family versus Solitude"": Simon and Jota are t...",5.9,107,NaN,NaN,$ 1949,NaN,NaN,9.0

In [2]:
import pandas as pd
import numpy as np

In [3]:
d=pd.read_csv("imdb movies.csv")

C:\Users\kushal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
d

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [8]:
print(d['country'])

0                     USA
1               Australia
2        Germany, Denmark
3                     USA
4                   Italy
               ...
85850     France, Belgium
85851         Netherlands
85852               India
85853              Turkey
85854               Spain
Name: country, Length: 85855, dtype: object

In [9]:
print(d[country:USA])

NameError: name 'country' is not defined

In [17]:
d['duration'].values[45]

65

In [25]:
d

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [27]:
min

In [30]:
print("Name of the movie with third lowest buget: ",d.iloc[2,5])

Name of the movie with third lowest buget:  Drama

In [36]:
d.iat[2,5] #from starting

'Drama'

In [44]:
d.iat[-2,5] #from ending

'Drama, Family'

In [51]:
d

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [58]:
search='A'
d["country"].str.startswith(search)

0        False
1         True
2        False
3        False
4        False
         ...
85850    False
85851    False
85852    False
85853    False
85854    False
Name: country, Length: 85855, dtype: object

In [59]:
search='A'
d["country"].str.endswith(search)

0         True
1        False
2        False
3         True
4        False
         ...
85850    False
85851    False
85852    False
85853    False
85854    False
Name: country, Length: 85855, dtype: object

In [60]:
max=d.sort_values(['duration'])

In [61]:
max

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
32798,tt0142235,Dragon Ball Z: La vendetta divina,Doragon bôru Z,1989,1989-07-15,"Animation, Action, Adventure",41,Japan,Japanese,Daisuke Nishio,...,"Masako Nozawa, Toshio Furukawa, Hiromi Tsuru, ...",In order to wish for immortality and avenge hi...,7.0,6042,NaN,NaN,$ 9060335,NaN,17.0,4.0
57390,tt1365598,Enigma,Enigma,2009,2010-12-10,Sci-Fi,42,USA,English,"Jason Shumway, Matt Shumway",...,"Nadia Salamanca, Ventura Alvarez, Iris Corliss...","Floating dead in space, transport ship Genesis...",4.9,232,$ 50000,NaN,NaN,NaN,6.0,NaN
3966,tt0033949,Niagara Falls,Niagara Falls,1941,1941-10-17,"Comedy, Romance",43,USA,English,Gordon Douglas,...,"Marjorie Woodworth, Tom Brown, Zasu Pitts, Sli...","Margie Blake, who wants to get married young a...",6.0,185,NaN,NaN,NaN,NaN,10.0,2.0
54562,tt11443714,My Little Pony: Equestria Girls - Holidays Unw...,My Little Pony: Equestria Girls - Holidays Unw...,2019,2019-11-02,"Animation, Comedy, Family",44,"USA, Canada",English,"Katrina Hadley, Ishi Rudell",...,"Ashleigh Ball, Andrea Libman, Rebecca Shoichet...",Six short stories at Canterlot High interwove ...,5.6,102,NaN,NaN,NaN,NaN,2.0,NaN
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53877,tt1094643,Kagadanan sa banwaan ning mga engkanto,Kagadanan sa banwaan ning mga engkanto,2007,2015-12-30,Drama,540,"Philippines, Netherlands","Filipino, Bicolano, English, Tagalog",Lav Diaz,...,"Roeder Camanag, Angeli Bayani, Perry Dizon, Da...",A Filipino poet named Benjamin Agusan (Roeder ...,7.4,165,NaN,NaN,NaN,NaN,2.0,8.0
54835,tt11617492,Orbius,Orbius,2020,2020-01-16,Fantasy,570,Russia,None,Sergey A.,...,"Sergey A., Random People",Someone is walking in this world. Someone is l...,9.3,225,RUR 100,NaN,NaN,NaN,NaN,NaN
39346,tt0270784,Khleb - imya sushchestvitelnoe,Khleb - imya sushchestvitelnoe,1988,1988-10-06,"Drama, History, Romance",580,Soviet Union,Russian,Grigori Nikulin,...,"Nikolai Voloshin, Andrey Dudarenko, Sergey Nik...",Epic film about life of three generations in c...,5.8,157,$ 60000000,NaN,NaN,NaN,NaN,NaN
38038,tt0246135,"Out 1, noli me tangere","Out 1, noli me tangere",1971,2015-11-18,"Drama, Mystery",729,France,"French, English","Jacques Rivette, Suzanne Schiffman",...,"Michèle Moretti, Hermine Karagheuz, Karen Puig...","Following the May 1968 civil unrest in France,...",7.8,1126,NaN,$ 31539,$ 37743,87.0,13.0,30.0
85057,tt9047474,La flor,La flor,2016,2018-09-21,"Drama, Fantasy, Musical",808,Argentina,"Catalan, Spanish, French, English, Russian, Ge...",Mariano Llinás,...,"Elisa Carricajo, Valeria Correa, Pilar Gamboa,...","A film in six episodes, connected by the same ...",7.7,473,NaN,$ 4032,$ 4032,77.0,5.0,23.0

In [65]:
d.sort_values(['reviews_from_users'])

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
58581,tt1484521,30 Beats,30 Beats,2012,2012-11-16,"Comedy, Romance",88,"France, USA","English, French",Alexis Lloyd,...,"Condola Rashad, Justin Kirk, Jennifer Tilly, J...",A summer heat wave and a series of sexual enco...,4.1,929,$ 1000000,$ 14693,$ 14693,20.0,1.0,16.0
58576,tt1483799,Sham moh,Sham moh,2009,2009-11-05,Drama,94,"South Korea, Malaysia, Hong Kong",Mandarin,Yuhang Ho,...,"Kara Wai, Tien You Chui, Yasmin Ahmad, Azman H...",A 23-year-old man looking to escape the burden...,6.0,285,NaN,NaN,$ 13696,NaN,1.0,17.0
14085,tt0064628,Mama vyshla zamuzh,Mama vyshla zamuzh,1970,1970-05-25,Drama,85,Soviet Union,Russian,Vitaliy Melnikov,...,"Lyusena Ovchinnikova, Oleg Efremov, Nikolay Bu...",NaN,7.1,123,NaN,NaN,NaN,NaN,1.0,NaN
14092,tt0064646,Mazel Tov ou le mariage,Mazel Tov ou le mariage,1968,1968-09-18,"Comedy, Drama",100,France,French,Claude Berri,...,"Claude Berri, Elisabeth Wiener, Prudence Harri...",Claude and Isabella met on a beach one summer ...,5.5,100,NaN,NaN,NaN,NaN,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85848,tt9905462,Pengalila,Pengalila,2019,2019-03-08,Drama,111,India,Malayalam,T.V. Chandran,...,"Lal, Akshara Kishor, Iniya, Narain, Renji Pani...",An unusual bond between a sixty year old Dalit...,8.8,553,INR 10000000,NaN,NaN,NaN,NaN,NaN
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [72]:
d["duration"].max()

808

In [80]:
d['language'].values[4]

'Italian'

In [86]:
d[d['duration'] > 700] #between the values

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
38038,tt0246135,"Out 1, noli me tangere","Out 1, noli me tangere",1971,2015-11-18,"Drama, Mystery",729,France,"French, English","Jacques Rivette, Suzanne Schiffman",...,"Michèle Moretti, Hermine Karagheuz, Karen Puig...","Following the May 1968 civil unrest in France,...",7.8,1126,NaN,$ 31539,$ 37743,87.0,13.0,30.0
85057,tt9047474,La flor,La flor,2016,2018-09-21,"Drama, Fantasy, Musical",808,Argentina,"Catalan, Spanish, French, English, Russian, Ge...",Mariano Llinás,...,"Elisa Carricajo, Valeria Correa, Pilar Gamboa,...","A film in six episodes, connected by the same ...",7.7,473,NaN,$ 4032,$ 4032,77.0,5.0,23.0

In [89]:
pd.DataFrame(d, columns = ['title', 'year', 'budget']) #printing certain columns

                                title  year   budget
0                          Miss Jerry  1894      NaN
1         The Story of the Kelly Gang  1906   $ 2250
2                      Den sorte drøm  1911      NaN
3                           Cleopatra  1912  $ 45000
4                           L'Inferno  1911      NaN
...                               ...   ...      ...
85850                         Le lion  2020      NaN
85851  De Beentjes van Sint-Hildegard  2020      NaN
85852       Padmavyuhathile Abhimanyu  2019      NaN
85853               Sokagin Çocuklari  2019      NaN
85854      La vida sense la Sara Amat  2019      NaN

[85855 rows x 3 columns]

In [99]:
d.shape

(85855, 22)

In [100]:
d.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0

In [109]:
d.country

0                     USA
1               Australia
2        Germany, Denmark
3                     USA
4                   Italy
               ...
85850     France, Belgium
85851         Netherlands
85852               India
85853              Turkey
85854               Spain
Name: country, Length: 85855, dtype: object

In [110]:
d['country'][0]

'USA'

In [111]:
d.iloc[0]

imdb_title_id                                                    tt0000009
title                                                           Miss Jerry
original_title                                                  Miss Jerry
year                                                                  1894
date_published                                                  1894-10-09
genre                                                              Romance
duration                                                                45
country                                                                USA
language                                                              None
director                                                   Alexander Black
writer                                                     Alexander Black
production_company                              Alexander Black Photoplays
actors                   Blanche Bayliss, William Courtenay, Chauncey D...
description              The adventures of a female reporter in the 1890s.
avg_vote                                                               5.9
votes                                                                  154
budget                                                                 NaN
usa_gross_income                                                       NaN
worlwide_gross_income                                                  NaN
metascore                                                              NaN
reviews_from_users                                                     1.0
reviews_from_critics                                                   2.0
Name: 0, dtype: object

In [112]:
d.iloc[:, 0]

0        tt0000009
1        tt0000574
2        tt0001892
3        tt0002101
4        tt0002130
           ...
85850    tt9908390
85851    tt9911196
85852    tt9911774
85853    tt9914286
85854    tt9914942
Name: imdb_title_id, Length: 85855, dtype: object

In [113]:
d.iloc[1:3, 0]

1    tt0000574
2    tt0001892
Name: imdb_title_id, dtype: object

In [114]:
d.loc[0, 'country']

'USA'

In [115]:
d.country == 'Italy'

0        False
1        False
2        False
3        False
4         True
         ...
85850    False
85851    False
85852    False
85853    False
85854    False
Name: country, Length: 85855, dtype: bool

In [116]:
d.loc[d.country == 'Italy']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
7,tt0002445,Quo Vadis?,Quo Vadis?,1913,1913-03-01,"Drama, History",120,Italy,Italian,Enrico Guazzoni,...,"Amleto Novelli, Gustavo Serena, Carlo Cattaneo...","An epic Italian film ""Quo Vadis"" influenced ma...",6.2,273,ITL 45000,NaN,NaN,NaN,7.0,5.0
14,tt0003102,Ma l'amor mio non muore...,Ma l'amor mio non muore...,1914,1914-01-01,Drama,90,Italy,Italian,Mario Caserini,...,"Lyda Borelli, Mario Bonnard, Gian Paolo Rosmin...","Leslie Swayne, an adventurer, in order to obta...",6.2,100,NaN,NaN,NaN,NaN,NaN,4.0
20,tt0003489,Gli ultimi giorni di Pompei,Gli ultimi giorni di Pompei,1913,1913-08-24,"Adventure, Drama",88,Italy,Italian,"Mario Caserini, Eleuterio Rodolfi",...,"Fernanda Negri Pouget, Eugenia Tettoni Fior, U...",Two love triangles intersect in ancient Pompei.,6.2,474,NaN,NaN,NaN,NaN,13.0,7.0
21,tt0003637,Assunta Spina,Assunta Spina,1915,1916-05-01,Drama,72,Italy,NaN,"Francesca Bertini, Gustavo Serena",...,"Francesca Bertini, Gustavo Serena, Carlo Benet...",Assunta Spina is a tragedy set in Naples at th...,6.4,378,NaN,NaN,NaN,NaN,7.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85615,tt9625240,Nevia,Nevia,2019,2019-09-05,Drama,86,Italy,Italian,Nunzia De Stefano,...,"Virginia Apicella, Pietra Montecorvino, Rosy F...","Nevia, a Neapolitan girl that comes from a poo...",5.7,131,NaN,NaN,NaN,NaN,NaN,7.0
85632,tt9639274,Bangla,Bangla,2019,2019-05-16,Comedy,84,Italy,"Italian, Bengali",Phaim Bhuiyan,...,"Phaim Bhuiyan, Carlotta Antonelli, Simone Libe...","It's about an Italian young man, whose parents...",5.6,657,NaN,NaN,$ 211568,NaN,3.0,10.0
85739,tt9778888,Il sindaco del Rione Sanità,Il sindaco del Rione Sanità,2019,2019-09-30,"Crime, Drama",115,Italy,Italian,Mario Martone,...,"Francesco Di Leva, Adriano Pantaleo, Roberto D...",This particular version of Naples is home to A...,5.1,450,NaN,NaN,$ 465257,NaN,3.0,16.0
85796,tt9840382,Se mi vuoi bene,Se mi vuoi bene,2019,2019-10-17,Comedy,100,Italy,Italian,Fausto Brizzi,...,"Claudio Bisio, Sergio Rubini, Dino Abbrescia, ...",A man with a knack for accidentally setting of...,5.5,101,NaN,NaN,$ 976473,NaN,NaN,6.0
85819,tt9872556,Momenti di trascurabile felicità,Momenti di trascurabile felicità,2019,2019-03-14,Comedy,93,Italy,Italian,Daniele Luchetti,...,"Pif, Thony, Renato Carpentieri, Franz Cantalup...","After a deadly accident, Paolo comes back on E...",5.5,784,NaN,NaN,$ 2057341,NaN,3.0,11.0

In [121]:
d.title.describe()

count     85855
unique    82094
top        Anna
freq         10
Name: title, dtype: object

In [122]:
d.head(1)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0

In [131]:
d.sort_values(by='country', ascending=False)

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
83540,tt7981318,Cook Off,Cook Off,2017,2017-12-01,"Comedy, Romance",101,Zimbabwe,English,Tomas Brickhill,...,"Tendaiishe Chitima, Tomas Brickhill, Chirikure...",Single mother Anesu's life is turned upside do...,6.0,256,NaN,NaN,NaN,NaN,26.0,NaN
20419,tt0084033,Gräset sjunger,Gräset sjunger,1981,1982-09-10,Drama,105,"Zambia, Sweden",English,Michael Raeburn,...,"Karen Black, John Thaw, John Kani, Patrick Myn...","In the 1940s, a city girl moves from America t...",5.1,148,NaN,NaN,NaN,NaN,2.0,6.0
15284,tt0067958,W.R. - Misterije organizma,W.R. - Misterije organizma,1971,1971-05-10,"Comedy, Drama, Fantasy",84,"Yugoslavia, West Germany","Serbo-Croatian, English, Russian, German",Dusan Makavejev,...,"Milena Dravic, Ivica Vidovic, Jagoda Kaloper, ...",A homage to the work of psychologist Wilhelm R...,6.9,4459,NaN,NaN,NaN,NaN,35.0,57.0
19893,tt0082356,Il Falcone,Banovic Strahinja,1981,1983-03-30,"Action, Biography, Drama",105,"Yugoslavia, West Germany",Serbo-Croatian,Vatroslav Mimica,...,"Franco Nero, Dragan Nikolic, Sanja Vejnovic, R...",In late 14th century medieval Serbia becomes t...,7.7,857,NaN,NaN,NaN,NaN,3.0,NaN
31739,tt0125212,I Bog stvori kafansku pevacicu,I Bog stvori kafansku pevacicu,1972,1972-05-11,"Drama, Romance",89,"Yugoslavia, West Germany",Serbo-Croatian,Jovan Zivanovic,...,"Vera Cukic, Velimir 'Bata' Zivojinovic, Lepa L...",An electro-technician falls in love with a bar...,6.2,133,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85204,tt9161168,Kindred Spirits,Kindred Spirits,2019,2019-08-30,"Horror, Mystery, Thriller",90,NaN,English,Lucky McKee,...,"Bruce Bennett, Thora Birch, Macon Blair, Liam ...",A successful single mother's carefree sister r...,4.9,432,NaN,NaN,NaN,NaN,11.0,24.0
85320,tt9261042,A Perfect Plan,A Perfect Plan,2020,2020-05-01,"Action, Crime, Mystery",78,NaN,English,Jesse D. Ikeman,...,"William Forsythe, Kathleen Munroe, Carlo Rota,...",Four notorious thieves wake up in a fortified ...,4.2,180,NaN,NaN,NaN,NaN,8.0,5.0
85492,tt9466848,Kedara,Kedara,2019,2019-11-01,Drama,114,NaN,Bengali,Indraadip Dasgupta,...,"Bidipta Chakraborty, Kaushik Ganguly, Rudranil...","Narasingha, an old ventriloquist and 'horbola'...",7.1,158,NaN,NaN,NaN,NaN,8.0,2.0
85608,tt9617578,It Started as a Joke,It Started as a Joke,2019,2019-03-10,Documentary,76,NaN,NaN,"Julie Smith Clem, Ken Druckerman",...,"Michael Ian Black, Wyatt Cenac, Jo Firestone, ...",A look at the decade-long run of the Eugene Mi...,7.1,112,NaN,NaN,NaN,NaN,2.0,7.0
85845,tt9904250,La reina de los lagartos,La reina de los lagartos,2019,2019-10-05,Fantasy,63,NaN,"Spanish, Catalan","Juan González, Nando Martínez",...,"Javier Botet, Bruna Cusí, Miki Esparbé, Ivan L...","A spaceship is about to come to pick up Javi, ...",4.8,103,NaN,NaN,NaN,NaN,NaN,5.0

In [132]:
d[pd.isnull(d.country)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
53010,tt10452854,The 24th,The 24th,2020,2020-08-21,"Drama, History",101,NaN,NaN,Kevin Willmott,...,"Trai Byers, Bashir Salahuddin, Aja Naomi King,...",It is the story of the all-black Twenty-Fourth...,5.2,173,NaN,NaN,NaN,56.0,3.0,12.0
53112,tt10514532,Into the Forest,Into the Forest,2019,2019-06-22,Horror,67,NaN,NaN,"Josh Huffine, Brendan Rudnicki",...,"San Rolando Bermudez, Mark Brotherton, Dillon ...",Into the Forest follows three paranormal Youtu...,2.8,130,NaN,NaN,NaN,NaN,8.0,NaN
53117,tt10516176,Steel Rain 2,Steel Rain 2,2020,2020-07-29,"Action, Drama, Thriller",132,NaN,NaN,WooSuk Yang,...,"Angus Macfadyen, Kristen Dalton, Woo-sung Jung...","A summit of leaders of South Korea, North Kore...",6.3,335,NaN,NaN,$ 12283399,NaN,15.0,2.0
53228,tt10582422,Sweet Sunshine,Sweet Sunshine,2020,2020-03-20,Drama,93,NaN,English,Craig McMahon,...,"John Way, Mackenzie Coffman, Bill Wetherill, R...",After his rise to fame causes a rift with his ...,7.0,216,NaN,NaN,NaN,NaN,86.0,1.0
53528,tt10764458,Friends: The One with the Anniversary,Friends: The One with the Anniversary,2019,2019-09-23,Comedy,105,NaN,NaN,NaN,...,NaN,"A tribute to the sitcom ""Friends"" on its 25th ...",3.2,255,NaN,$ 2884827,$ 3403406,NaN,40.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85204,tt9161168,Kindred Spirits,Kindred Spirits,2019,2019-08-30,"Horror, Mystery, Thriller",90,NaN,English,Lucky McKee,...,"Bruce Bennett, Thora Birch, Macon Blair, Liam ...",A successful single mother's carefree sister r...,4.9,432,NaN,NaN,NaN,NaN,11.0,24.0
85320,tt9261042,A Perfect Plan,A Perfect Plan,2020,2020-05-01,"Action, Crime, Mystery",78,NaN,English,Jesse D. Ikeman,...,"William Forsythe, Kathleen Munroe, Carlo Rota,...",Four notorious thieves wake up in a fortified ...,4.2,180,NaN,NaN,NaN,NaN,8.0,5.0
85492,tt9466848,Kedara,Kedara,2019,2019-11-01,Drama,114,NaN,Bengali,Indraadip Dasgupta,...,"Bidipta Chakraborty, Kaushik Ganguly, Rudranil...","Narasingha, an old ventriloquist and 'horbola'...",7.1,158,NaN,NaN,NaN,NaN,8.0,2.0
85608,tt9617578,It Started as a Joke,It Started as a Joke,2019,2019-03-10,Documentary,76,NaN,NaN,"Julie Smith Clem, Ken Druckerman",...,"Michael Ian Black, Wyatt Cenac, Jo Firestone, ...",A look at the decade-long run of the Eugene Mi...,7.1,112,NaN,NaN,NaN,NaN,2.0,7.0
85845,tt9904250,La reina de los lagartos,La reina de los lagartos,2019,2019-10-05,Fantasy,63,NaN,"Spanish, Catalan","Juan González, Nando Martínez",...,"Javier Botet, Bruna Cusí, Miki Esparbé, Ivan L...","A spaceship is about to come to pick up Javi, ...",4.8,103,NaN,NaN,NaN,NaN,NaN,5.0

In [136]:
d.country.fillna("Unknown")

0                     USA
1               Australia
2        Germany, Denmark
3                     USA
4                   Italy
               ...
85850     France, Belgium
85851         Netherlands
85852               India
85853              Turkey
85854               Spain
Name: country, Length: 85855, dtype: object

In [137]:
d[pd.isnull(d.country)]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
53010,tt10452854,The 24th,The 24th,2020,2020-08-21,"Drama, History",101,NaN,NaN,Kevin Willmott,...,"Trai Byers, Bashir Salahuddin, Aja Naomi King,...",It is the story of the all-black Twenty-Fourth...,5.2,173,NaN,NaN,NaN,56.0,3.0,12.0
53112,tt10514532,Into the Forest,Into the Forest,2019,2019-06-22,Horror,67,NaN,NaN,"Josh Huffine, Brendan Rudnicki",...,"San Rolando Bermudez, Mark Brotherton, Dillon ...",Into the Forest follows three paranormal Youtu...,2.8,130,NaN,NaN,NaN,NaN,8.0,NaN
53117,tt10516176,Steel Rain 2,Steel Rain 2,2020,2020-07-29,"Action, Drama, Thriller",132,NaN,NaN,WooSuk Yang,...,"Angus Macfadyen, Kristen Dalton, Woo-sung Jung...","A summit of leaders of South Korea, North Kore...",6.3,335,NaN,NaN,$ 12283399,NaN,15.0,2.0
53228,tt10582422,Sweet Sunshine,Sweet Sunshine,2020,2020-03-20,Drama,93,NaN,English,Craig McMahon,...,"John Way, Mackenzie Coffman, Bill Wetherill, R...",After his rise to fame causes a rift with his ...,7.0,216,NaN,NaN,NaN,NaN,86.0,1.0
53528,tt10764458,Friends: The One with the Anniversary,Friends: The One with the Anniversary,2019,2019-09-23,Comedy,105,NaN,NaN,NaN,...,NaN,"A tribute to the sitcom ""Friends"" on its 25th ...",3.2,255,NaN,$ 2884827,$ 3403406,NaN,40.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85204,tt9161168,Kindred Spirits,Kindred Spirits,2019,2019-08-30,"Horror, Mystery, Thriller",90,NaN,English,Lucky McKee,...,"Bruce Bennett, Thora Birch, Macon Blair, Liam ...",A successful single mother's carefree sister r...,4.9,432,NaN,NaN,NaN,NaN,11.0,24.0
85320,tt9261042,A Perfect Plan,A Perfect Plan,2020,2020-05-01,"Action, Crime, Mystery",78,NaN,English,Jesse D. Ikeman,...,"William Forsythe, Kathleen Munroe, Carlo Rota,...",Four notorious thieves wake up in a fortified ...,4.2,180,NaN,NaN,NaN,NaN,8.0,5.0
85492,tt9466848,Kedara,Kedara,2019,2019-11-01,Drama,114,NaN,Bengali,Indraadip Dasgupta,...,"Bidipta Chakraborty, Kaushik Ganguly, Rudranil...","Narasingha, an old ventriloquist and 'horbola'...",7.1,158,NaN,NaN,NaN,NaN,8.0,2.0
85608,tt9617578,It Started as a Joke,It Started as a Joke,2019,2019-03-10,Documentary,76,NaN,NaN,"Julie Smith Clem, Ken Druckerman",...,"Michael Ian Black, Wyatt Cenac, Jo Firestone, ...",A look at the decade-long run of the Eugene Mi...,7.1,112,NaN,NaN,NaN,NaN,2.0,7.0
85845,tt9904250,La reina de los lagartos,La reina de los lagartos,2019,2019-10-05,Fantasy,63,NaN,"Spanish, Catalan","Juan González, Nando Martínez",...,"Javier Botet, Bruna Cusí, Miki Esparbé, Ivan L...","A spaceship is about to come to pick up Javi, ...",4.8,103,NaN,NaN,NaN,NaN,NaN,5.0

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [10]:
d=pd.read_csv("imdb movies.csv")

C:\Users\kushal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [11]:
d

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [17]:
y=d.duration

In [18]:
y

0         45
1         70
2         53
3        100
4         68
        ...
85850     95
85851    103
85852    130
85853     98
85854     74
Name: duration, Length: 85855, dtype: int64

In [ ]:
plt.pie(y)
plt.show()

In [ ]:
plt.show()

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
d=pd.read_csv("imdb movies.csv")

C:\Users\kushal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
y=d.duration

In [4]:
y

0         45
1         70
2         53
3        100
4         68
        ...
85850     95
85851    103
85852    130
85853     98
85854     74
Name: duration, Length: 85855, dtype: int64

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
d=pd.read_csv("imdb movies.csv")

C:\Users\kushal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [8]:
y=d.duration

In [9]:
y

0         45
1         70
2         53
3        100
4         68
        ...
85850     95
85851    103
85852    130
85853     98
85854     74
Name: duration, Length: 85855, dtype: int64

In [ ]:
plt.pie(y)
plt.show()

In [2]:
import pandas as pd
import numpy as np

In [3]:
d=pd.read_csv("imdb movies.csv")

C:\Users\kushal\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
d

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [6]:
d[d.country == 'USA']

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
5,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...","From the Manger to the Cross; or, Jesus of Naz...",1912,1913,"Biography, Drama",60,USA,English,Sidney Olcott,...,"R. Henderson Bland, Percy Dyer, Gene Gauntier,...","An account of the life of Jesus Christ, based ...",5.7,484,NaN,NaN,NaN,NaN,13.0,5.0
17,tt0003167,Amore di madre,"Home, Sweet Home",1914,1914-05-17,Drama,55,USA,English,D.W. Griffith,...,"Henry B. Walthall, Josephine Crowell, Lillian ...",John Howard Payne at his most miserable point ...,5.8,187,NaN,NaN,NaN,NaN,6.0,NaN
19,tt0003471,Traffic in Souls,Traffic in Souls,1913,1913-11-24,"Crime, Drama",88,USA,English,George Loane Tucker,...,"Jane Gail, Ethel Grandin, William H. Turner, M...","A woman, with the aid of her police officer sw...",6.0,552,$ 5700,NaN,NaN,NaN,14.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85829,tt9887520,Season of Love,Season of Love,2019,2019-11-30,"Comedy, Romance",105,USA,NaN,Christin Baker,...,"Dominique Provost-Chalkley, Jessica Clark, Emi...",A queer lady holiday romantic comedy that foll...,7.5,228,NaN,NaN,NaN,NaN,10.0,5.0
85830,tt9887580,Bulletproof 2,Bulletproof 2,2020,2020-01-07,"Action, Comedy",97,USA,English,Don Michael Paul,...,"Faizon Love, Kirk Fox, Tony Todd, Cassie Clare...","Set 25 years after, Jack is now working as a S...",3.5,326,NaN,NaN,NaN,NaN,18.0,5.0
85837,tt9894470,VFW,VFW,2019,2020-02-14,"Action, Crime, Horror",92,USA,English,Joe Begos,...,"Stephen Lang, William Sadler, Fred Williamson,...",A group of old war veterans put their lives on...,6.1,4178,NaN,NaN,$ 23101,72.0,83.0,94.0
85838,tt9896916,The Pilgrim's Progress,The Pilgrim's Progress,2019,2019-04-18,"Animation, Adventure, Family",108,USA,English,Robert Fernandez,...,"David Thorpe, John Rhys-Davies, Kristyn Getty,...","An epic journey, faithfully adapted to modern-...",5.7,442,NaN,$ 1294596,$ 3173282,NaN,28.0,3.0
85839,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,2020-04-03,"Action, Comedy",88,USA,English,Michael Dowse,...,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",Twelve-year-old Kareem Manning hires a crimina...,5.1,10627,NaN,NaN,NaN,35.0,388.0,64.0

In [7]:
d[d['genre'].str.contains('Comedy')]

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
28,tt0003973,A Florida Enchantment,A Florida Enchantment,1914,1916-09-04,Comedy,63,USA,English,Sidney Drew,...,"Sidney Drew, Edith Storey, Charles Kent, Mrs. ...",A young woman discovers a seed that can make w...,5.8,202,NaN,NaN,NaN,NaN,6.0,3.0
39,tt0004707,Tillie's Punctured Romance,Tillie's Punctured Romance,1914,1914-12-21,Comedy,82,USA,"None, English","Mack Sennett, Charles Bennett",...,"Marie Dressler, Charles Chaplin, Mabel Normand...",A con man from the city dupes a wealthy countr...,6.3,3250,$ 50000,NaN,NaN,NaN,38.0,18.0
43,tt0004825,The Wishing Ring: An Idyll of Old England,The Wishing Ring: An Idyll of Old England,1914,1914-11-09,"Comedy, Drama",54,USA,English,Maurice Tourneur,...,"Vivian Martin, Alec B. Francis, Chester Barnet...","After being expelled from college, Giles runs ...",6.4,242,NaN,NaN,NaN,NaN,6.0,2.0
62,tt0006327,Young Romance,Young Romance,1915,1915-01-21,Comedy,59,USA,English,George Melford,...,"Edith Taliaferro, Florence Dagmar, Tom Forman,...","Young Romance, released in 1915, is a recent r...",5.9,151,NaN,NaN,NaN,NaN,7.0,1.0
67,tt0006617,Dödskyssen,Dödskyssen,1916,1916-08-25,"Comedy, Crime, Drama",60,Sweden,NaN,Victor Sjöström,...,"Victor Sjöström, Albin Lavén, Mathias Taube, W...",Dr Monro is found dead in his home. Three peop...,6.1,199,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85839,tt9898858,Coffee & Kareem,Coffee & Kareem,2020,2020-04-03,"Action, Comedy",88,USA,English,Michael Dowse,...,"Ed Helms, Taraji P. Henson, Terrence Little Ga...",Twelve-year-old Kareem Manning hires a crimina...,5.1,10627,NaN,NaN,NaN,35.0,388.0,64.0
85841,tt9899880,Columbus,Columbus,2018,2018-12-05,"Comedy, Drama",82,Iran,"Persian, English",Hatef Alimardani,...,"Farhad Aslani, Majid Salehi, Saeed Poursamimi,...",A rich family are deciding to immigrate to the...,4.0,209,NaN,NaN,NaN,NaN,NaN,13.0
85849,tt9906644,Manoharam,Manoharam,2019,2019-09-27,"Comedy, Drama",122,India,Malayalam,Anvar Sadik,...,"Vineeth Sreenivasan, Aparna Das, Basil Joseph,...",Manoharan is a poster artist struggling to fin...,6.8,491,NaN,NaN,NaN,NaN,9.0,1.0
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0

In [8]:
d.groupby('title').mean()

,duration,avg_vote,votes,metascore,reviews_from_users,reviews_from_critics
title,,,,,,
"""Giliap""",137.0,6.50,739.0,NaN,5.0,6.0
"""Swing it"" magistern",92.0,6.10,238.0,NaN,3.0,NaN
"#73, Shaanthi Nivaasa",157.0,7.10,178.0,NaN,NaN,2.0
#Captured,81.0,5.00,741.0,NaN,14.0,3.0
#Followme,90.0,3.50,415.0,NaN,60.0,2.0
...,...,...,...,...,...,...
Üç arkadas,87.0,6.95,305.5,NaN,1.5,1.0
Üç sevgili,77.0,5.70,158.0,NaN,NaN,NaN
Üçüncü Sayfa,92.0,7.40,3101.0,NaN,5.0,2.0
Þorsti,90.0,6.80,186.0,NaN,10.0,NaN
ärtico,78.0,5.90,107.0,NaN,NaN,9.0

In [10]:
d

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
0,tt0000009,Miss Jerry,Miss Jerry,1894,1894-10-09,Romance,45,USA,None,Alexander Black,...,"Blanche Bayliss, William Courtenay, Chauncey D...",The adventures of a female reporter in the 1890s.,5.9,154,NaN,NaN,NaN,NaN,1.0,2.0
1,tt0000574,The Story of the Kelly Gang,The Story of the Kelly Gang,1906,1906-12-26,"Biography, Crime, Drama",70,Australia,None,Charles Tait,...,"Elizabeth Tait, John Tait, Norman Campbell, Be...",True story of notorious Australian outlaw Ned ...,6.1,589,$ 2250,NaN,NaN,NaN,7.0,7.0
2,tt0001892,Den sorte drøm,Den sorte drøm,1911,1911-08-19,Drama,53,"Germany, Denmark",NaN,Urban Gad,...,"Asta Nielsen, Valdemar Psilander, Gunnar Helse...",Two men of high rank are both wooing the beaut...,5.8,188,NaN,NaN,NaN,NaN,5.0,2.0
3,tt0002101,Cleopatra,Cleopatra,1912,1912-11-13,"Drama, History",100,USA,English,Charles L. Gaskill,...,"Helen Gardner, Pearl Sindelar, Miss Fielding, ...",The fabled queen of Egypt's affair with Roman ...,5.2,446,$ 45000,NaN,NaN,NaN,25.0,3.0
4,tt0002130,L'Inferno,L'Inferno,1911,1911-03-06,"Adventure, Drama, Fantasy",68,Italy,Italian,"Francesco Bertolini, Adolfo Padovan",...,"Salvatore Papa, Arturo Pirovano, Giuseppe de L...",Loosely adapted from Dante's Divine Comedy and...,7.0,2237,NaN,NaN,NaN,NaN,31.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [12]:
d.groupby('duration').min()

C:\Users\kushal\AppData\Local\Temp/ipykernel_19112/3106061289.py:1: FutureWarning: Dropping invalid columns in DataFrameGroupBy.min is deprecated. In a future version, a TypeError will be raised. Before calling .min, select only columns which should be valid for the function.
  z= d.groupby('duration').min()